@model IEnumerable<DepremAnalizSistemi.Models.Mesajlar>

@if (Model != null)
{
    <div class="list-group">
        @if (Model.Count() == 0)
        {
            <h3 style="color:white;text-align:center">Giden mesaj kutusu boş</h3>
        }
        else
        {
            <h1 style="color:white;text-align:center">GİDEN MESAJLAR</h1>
            foreach (var item in Model)
            {
            <div class="list-group-item list-group-item-action flex-column align-items-start mesaj" >
                <a class="GidenMesajiGoruntule" id="@item.ID" style="cursor:pointer">
                    <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1 mesajbaslik">@item.MesajBasligi</h4>
                        <small>
                            Kime: @item.Alici.Ad @item.Alici.Soyad

                        </small>
                    </div>
                    <p class="mb-1 mesajicerigi">@item.Mesaj</p>

                </a>
                <small> @item.GonderimZamani <span class="label label-danger mesajSil" style="float:right;cursor:pointer" id="@item.ID">Sil</span></small>
            </div>  
                

            }
        }


    </div>
}